html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    color: white;
}

h1,
h2 {
    border: 1px solid black;
    border-radius: 25px;
    margin: 40px;
    padding: 40px;
}